
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');

body{
    font-family: "Lora", sans-serif;
}
ul{
    padding: 0;
}
.nav-link{
    font-size: 1.2rem;
}
h1{
    font-size: 1.5rem;
}
#title{
    text-decoration: underline;
    font-size: 20px;
}
.navbar, footer, .card-body, .greybg{
    background:#D3D3D3;
    ;
}
#productList{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.productdetailpicture{
    height:100%;
}
#itemQty{
    width: 30%;
}
#btnsuppr{
    width: 60%;
    font-size: 0.8rem;
    margin-right: 5px;
}
#qty{
    width:2.5rem;
    height: 38px;
    margin: 0 10px 0 10px;
}
.qtytitle{
    display: block;
}
#totalCard{
    position:absolute;
    border-top: 1px solid black;
    left:0;
    bottom: 0;
}
.emptycart{
    position:absolute;
    top:30%;
}
.btn:hover{
    transform: scale(1.1);
}
#shoppingReminderContainer{
    height:450px;
    overflow: scroll;
}
#error{
    color : red;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
@media only screen and (max-width: 768px){
    #addToCard{
        width: 100%;
    }
}